---
layout: page
title: About Me
permalink: /about/
---

<p style="font-weight: 700; font-size: 20px">Hi. I'm Haesoo Kim 😎</p>

<!-- Me as a Person -->
<p>
    My friends like to describe me as a serial enthusiast - my most defining
    characteristic is the enthusiasm I show to most of the things I love. Be it
    research, friends, music, games; I don't do things halfway. That's probably
    why I enjoy being in research so much, since in its essence it's an endeavor
    in going to extra lengths to get answers to the things you're curious about.
</p>

<p>
    <strong>Why study HCI?</strong> I've always been interested in viewing the
    world through the diverse lenses of various disciplines. I've also been
    perpetually interested in 'people', and how each individual has their own
    perspective and story to share. This led me to activities that allowed me to
    dive into the stories of the people around us, such as Humans of SNU, LAS
    and others.
</p>

<p>
    I'm also a firm believer in helping people, as well as making the world a
    better place.
</p>

<div style="margin-bottom: 80px"></div>

<!-- Education -->
<div class="about-grid section">
    <div class="section-title">EDUCATION</div>
    <div class="about-content">
        {% for item in site.data.education %}
        <div class="about-item">
            <div style="display: flex; align-items: flex-end; flex-wrap: wrap">
                <a class="institute" href="{{item.url}}">{{item.institute}}</a>
                <div class="dept">{{item.desc}}</div>
            </div>
            <div class="time"><i>{{item.time}}</i></div>
            <div class="about-wrapper">
                <div class="major">
                    {% for major in item.major %}
                    <div>
                        {{major.degree}} in
                        <a href="{{major.url}}"> {{major.title}}</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Academic services -->

<!-- Work Experience -->
<div class="about-grid section">
    <div class="section-title">EXPERIENCE</div>
    <div class="about-content">
        {% for item in site.data.experience %}
        <div class="about-item">
            <div style="display: flex; align-items: flex-end; flex-wrap: wrap">
                <a class="institute" href="{{item.url}}">{{item.name}}</a>
                <div class="dept">{{item.desc}}</div>
            </div>
            <div class="time"><i>{{item.time}}</i></div>
            <div class="about-wrapper">
                <div>{{item.position}}</div>
                {% if item.advisor != null %} {% if item.advisor != null %}
                <div class="advisor">
                    Advised by {% if item.advisor.size >= 2 %} {% for advisor in
                    item.advisor %}
                    <a href="{{advisor.url}}">{{advisor.name}}</a>{% unless
                    forloop.last %}, {% endunless %} {% endfor %} {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Misc. Activities -->

<!-- <section class="section wrapper random">
	<div class="section__title black">Random Fact</div>
	<div class="section__content indent">
		Haesoo likes <a href="" target="_blank" id="random">Cho-dang tofu</a> !
	</div>
</section>

<script>
	const items = [
		"Chodang tofu",
		"dogs",
		"drawing",
		"Jack Johnson",
		"Kim Kwang-seok",
		"egg mayo sandwich",
		"Material Design",
	];
	let item = items[Math.floor(Math.random() * items.length)];
	let random = document.getElementById("random");

	random.innerText = item;
	random.setAttribute("href", "https://www.google.com/search?q=" + query(item));

	function query(item) {
		let str = "";
		item.split(" ").forEach(function (ele) {
			str += ele + "+";
		});
		return str.substr(0, str.length - 1);
	}
</script> -->
