---
layout: home
---

<div class="home-wrapper">
	<div id="image-wrapper">
		<img
			id="profile-image"
			src="/assets/images/profile/hsnu.jpeg"
			alt="Picture of me with short hair and round glasses, sitting in a meadow with a Dodo bird necklace." />
		<div id="profile-caption">Me, during my Humans of SNU Interview</div>
	</div>
	<div>
		<div style="margin-top: 15px; color: #444552">
			<p style="font-weight: 700; font-size: 20px">Hi. I'm Haesoo Kim 😎</p>
			<p>
				I'm currently working on my Ph.D in Information Science at Cornell University, member of the
				<a href="https://socialmedialab.cornell.edu/">Social Media Lab</a> led by Prof. Natalie
				Bazarova.
			</p>
			<p>
				My research interests are focused on <strong>online social interactions</strong>,
				specifically around social media. My interest lies in the interesction of exploring online
				risks and negative experiences, and how they intersect with individuals' self-expression,
				exploration, and community building. My main focus is on how people explore and express
				aspects of the self through online spaces, despite or in spite of these risks. Other
				interests include interactive narratives, accessible computing, AI/tech ethics, and fandom
				studies.
			</p>
			<p>
				Previously, I earned Bachelor's degrees in <strong>Computer Science & Engineering</strong>,
				<strong>Psychology</strong>, and <strong>Information Science & Culture</strong> at Seoul
				National University College of Liberal Studies. I also have a Master's degree at KAIST
				School of Computing, co-advised by <a href="https://juhokim.com/">Prof. Juho Kim</a> and
				<a href="https://hss.kaist.ac.kr/boards/view/fulltime_professor_en/77"
					>Prof. Jeong-woo Jang</a
				>
				as a member of <a href="https://www.kixlab.org/">KIXLAB</a>.
			</p>

			<p>
				Outside of research, I spend my free time reading, singing, playing video games and
				obsessing over something or another. 😉
			</p>
		</div>
		<div class="more-info">
			<div class="outlinks">For more about me:</div>
			<div>
				<a class="index-button" href="/about/">About</a>
				<a class="index-button" href="/CV_230412.pdf" target="blank">Curriculum Vitae</a>
			</div>
		</div>
	</div>
</div>

<!-- <div class="section-wrapper"> -->
<div class="section">
	<div class="section-title">NEWS</div>

	<div class="section-wrapper">
		{% for update in site.data.news limit: 6 %}
		<div class="news-item">
			<div class="news-wrapper">
				<div class="news-title">{{update.title}}</div>
				<div class="news-date">{{update.date}}</div>
			</div>
			<div class="news-desc">{{update.desc}}</div>
		</div>
		{% endfor %}
	</div>
</div>
<!-- <div class="section">
		<div class="section-title">CURRENT PROJECTS</div>

		{% for project in site.data.currentwork limit: 5 %}
		<div class="project-item">
			<div class="project-title">{{project.title}}</div>
			<div class="prj-desc">{{project.desc}}</div>
		</div>
		{% endfor %}
	</div> -->
<!-- </div> -->
