---
---

@import "minima";
$content-width: 1000px;
$spacing-unit: 30px;

.flex {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	h3 {
		margin-bottom: 0;
	}
}

.wrapper {
	max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
	max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
	&::after {
		display: none;
	}
	padding: 0 20px;
}

.site-header {
	.wrapper {
		display: flex;
		width: inherit;
		margin: 0 auto;
		align-items: center;
		justify-content: space-between;
		padding: 0 15px;
	}
	display: flex;
	align-items: center;
	width: 100%;
	border-top: none;
	.site-nav {
		@include media-query($on-palm) {
			position: absolute;
		}
	}
}

.home-wrapper {
	display: grid;
	align-items: center;
	grid-template-columns: 300px auto;
	column-gap: 30px;
	grid-template-rows: 1fr;
	@include media-query($on-laptop) {
		grid-template-columns: 240px auto;
		column-gap: 30px;
	}

	@include media-query($on-palm) {
		grid-template-rows: auto auto;
		grid-template-columns: 1fr;
		#profile-image {
			margin: 0 auto;
		}
	}

	#image-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		#profile-caption {
			padding: 10px 15px 0;
			text-align: center;
			font-size: 12px;
			font-weight: 500;
			color: #919191;
		}
	}
	#profile-image {
		margin: 0 auto;
	}

	.more-info {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		.outlinks {
			font-size: 12px;
			font-weight: 500;
			color: #919191;
			margin-bottom: 10px;
			width: fit-content;
		}
		.index-button {
			border: 1px #444552 solid;
			font-size: 12px;
			padding: 5px 10px;
			border-radius: 3px;
			color: #444552;
			margin-left: 10px;
			width: fit-content;
		}
	}
}

body {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 300;
}

a {
	color: #2c4a8a;
	font-weight: 500;
	&:hover {
		color: #a9c9f5;
		text-decoration: none;
	}
}

.section-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 40px;
	grid-template-rows: 1fr;
	@include media-query($on-laptop) {
		grid-template-rows: auto auto;
		grid-template-columns: 1fr;
	}
}

.news-item,
.project-item {
	padding: 15px 10px;
	//padding-left: 0;
	.news-wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		.news-title {
			font-weight: 500;
			color: #444552;
			width: fit-content;
		}
		.news-date {
			font-size: 12px;
			margin-left: 20px;
			flex-shrink: 0;
		}
		
	}
	.project-title {
		font-weight: 500;
		color: #444552;
		width: fit-content;
	}
	.prj-desc {
		color: #797979;
		font-size: 12px;
	}
	.news-desc {
		color: #797979;
		padding-right: 60px;
		font-size: 12px;
	}
	border-bottom: 1px solid #e8e8e8;
}

.section-title {
	font-weight: 700;
	color: #3f8efc;
	margin-top: 20px;
}

strong {
	font-weight: 600;
}


// About

.about-grid{
	display: grid;
	grid-template-columns: 200px auto;
	column-gap: 60px;
	font-size: 16px;
	margin-top: 40px;
	.section-title{
		margin: 0;
		justify-self: end;
		align-self: start;
		font-size: 14px;
		padding-top: 4px;
	}
	.about-item{
		margin-bottom: 16px;
		display:grid;
		grid-template-columns: 1fr 100px;
		.institute{
			font-size: 18px;
			font-weight: 700;
		}
		.time{
			color:rgb(119, 119, 119);
			font-size: 14px;
			justify-self: end;
		}
		.institute{
			margin-right: 8px;
		}
		.dept{
			margin-bottom: 3px;
			font-size: 12px;
			color:rgb(119, 119, 119);
		}
		.about-wrapper div{
			font-size: 14px;
			a{
				font-weight: 300;
			}
		}
	}
	@include media-query($on-palm) {
		grid-template-columns: auto;
		margin-top: 0;;
		.section-title{
			justify-self: start;
			margin-bottom: 8px;
		}
		.about-item{
			margin-left: 8px;
		}
		.about-wrapper{
			grid-column-start: 1;
			grid-column-end: 3;
		}
	}
}

// Publications

.pubs-grid{
	display: grid;
	grid-template-columns: 200px auto;
	column-gap: 60px;
	font-size: 16px;
	margin-top: 40px;
	margin-bottom: 20px;
	.section-title{
		margin: 0;
		justify-self: end;
		text-align: end;
		align-self: start;
		font-size: 14px;
		padding-top: 4px;
	}

	.pubs-content{
		.item{
			margin-bottom:20px;
		}
		.title{
			font-weight: 500;

		}
		.authors{
			font-size: 14px;
			color:rgb(119, 119, 119);
			p{
				margin:0;
			}
		}
		em{
			font-weight: 400;
			color: black;
		}

		.venue{
			font-size: 14px;
		}
		.links {
			color:#3f8efc;
			display: flex;
			flex-wrap: wrap;
			font-size: 12px;
			margin-top: 4px;
			div{
				margin-right: 8px;
			}
			i{
				margin-right: 4px;
			}
		}
	}
	
	@include media-query($on-palm) {
		grid-template-columns: auto;
		margin-top: 0;
		.section-title{
			justify-self: start;
			margin-bottom: 8px;
			br{
				display:none;
			}
		}
	}
}

// Blog

.blog {
	display: grid;
	grid-template-columns: 250px auto;
	column-gap: 30px;
	grid-template-rows: 1fr;
	@include media-query($on-laptop) {
		grid-template-rows: auto auto;
		grid-template-columns: 1fr;
	}

	h2{
		font-size: 20px;
	}

	h3, h4, h5{
		font-size: 18px;
	}

	.post{
		padding: 8px;
		.back-button{
			cursor: pointer;
			margin-bottom: 12px;
			display: block;
		}

		p{
			font-size: 14px;
			line-height: 1.6;
		}

		blockquote p{
			font-size:16px;
		}
	}
}

.blog-side {
	padding-top: 15px;
	padding-bottom: 20px;
	height: fit-content;
	margin-bottom: 20px;
	.blog-title {
		font-weight: 700;
		color: #3f8efc;
		margin-bottom: 10px;
	}
	.blog-desc {
		font-size: 14px;
	}
	border-bottom: 1px solid #e8e8e8;

	@include media-query($on-palm) {
		padding-top: 0;
	}
}

.blog-main {
	min-height: 65vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	@include media-query($on-palm) {
		min-height: 0;
	}
}

.pagination a,
.pagination span {
	padding: 7px 18px;
	border: 1px solid #eee;
	margin-left: -2px;
	margin-right: -2px;
	background-color: #ffffff;
	display: inline-block;
}

.pagination a {
	&:hover {
		background-color: #f1f1f1;
		color: #333;
	}
}

.pagination {
	text-align: center;
}

.pager {
	margin-top: 20px;
}

.post-item {
	border-bottom: 1px solid #e8e8e8;
	padding: 15px 0;
	.post-link {
		font-size: 20px;
	}
}

a.blog-tag {
	font-size: 12px;
	line-height: 12px;
	color: white;
	background-color: rgb(175, 174, 174);
	padding: 2px 10px;
	border-radius: 10px;
	&:hover {
		background-color: gray;
	}
}

.post-title {
	font-size: 30px;
}

.post-preview {
	font-size: 14px;
	color: rgb(119, 119, 119);
	margin: 10px 0;
}

.tag-list {
	margin: 15px 0;
}

// Footer

.footer {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	.footer-col {
		min-width: 300px;
		@include media-query($on-palm) {
			min-width: 0;
		}
	}
	.social-media-list {
		a {
			display: flex;
			flex-wrap: nowrap;
			align-items: center;
			justify-content: flex-end;
			@include media-query($on-palm) {
				justify-content: flex-start;
			}
		}
	}
}
